#MainPage{
    background-image: url(allef-vinicius-P1NcqlyDTME-unsplash.jpg);
    background-size: cover; 
    background-position: center;
}
#navbarSupportedContent ul .nav-item a{
    color: rgb(200, 183, 183);
    font-size: 25px;
}
#navbarSupportedContent ul .nav-item a:hover{
    color: #b2beb5;
}
.main-text h1{
    color: #fff;
    padding-top: 8rem;
    font-size: 75px;

}
i{
    color: #fff;
    font-size: 20px;
    padding: 0px 15px;
}
.second-icon-div{
    background:none;
    background-color: rgb(170, 165, 165);
    padding: 8px 15px;
    border-radius: 10px;
}
#last-row{
    margin-top: 5rem;
}
#last-row p{
    color: #fff;
}
#drop-items li a{
    color: black;

}
.second-icon-div:hover{
    background: rgb(206, 201, 201);
}
#hire-button{
    padding: 8px 40px;
    margin-top: 1rem;
}
#about-me-img{
    height: 500px;
    width: 400px;
    border-radius: 8px;
}
.about-text{
    color: #fff;
    padding-right: 6rem;
    padding-top: 6rem;
}
.about-text h1{
    font-size: 50px;
    font-weight: 700;
}
.about-text p{
    font-size: 20px;
}
#green{
    height: 420px;
    width: 100%;
}
#snow{
    width: 350px;
    height: 500px;
}
.picture-text{
    color: #fff;
    font-weight: 500;
}
.slide{
    color: #fff;
    font-size: 60px;
}
form .form-control{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.form-control input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}
form .form-control{
    padding: 35px 40px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
}
form{
    padding: 23px 0px;
}
form ::placeholder{
    font-size: 25px;
}
#last-main{
    margin-top: 6rem;
    color: #fff;
    margin-left: 3rem;
}
#last-main p{
    font-size: 20px;
}
.last-icons i{
    font-size: 35px;
    padding-top: 7rem;
   
}
#submit-button{
    padding: 20px 70px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
}
form .form-control{
    border-radius: 0%;
}
